@charset "utf-8";
.w-8{width:8px}
.w-10{width:10px}
.w-15{width:15px}
.w-20{width:20px}
.w-25{width:25px}
.w-30{width:30px}
.w-35{width:35px}
.w-40{width:40px}
.w-45{width:45px}
.w-50{width:50px}
.w-55{width:55px}
.w-60{width:60px}
.w-65{width:65px}
.w-70{width:70px}
.w-75{width:75px}
.w-80{width:80px}
.w-85{width:85px}
.w-90{width:90px}
.w-95{width:95px}
.w-100{width:100px}
.w-105{width:105px}
.w-110{width:110px}
.w-120{width:120px}
.w-130{width:130px}
.w-140{width:140px}
.w-150{width:150px}
.w-155{width:155px}
.w-160{width:160px}
.w-170{width:170px}
.w-180{width:180px}
.w-190{width:190px}
.w-195{width:195px;}
.w-200{width:200px}
.w-205{width:205px}
.w-235{width:235px}
.w-240{width:240px}
.w-250{width:250px}
.w-215{width:215px}
.w-300{width:300px}
.w-350{width:350px}
.w-400{width:400px}
.w-450{width:450px}
.w-460{width:460px}
.w-500{width:500px}
.w-550{width:550px}
.w-600{width:600px}
.w-700{width:700px}
.w-800{width:800px}
.w-900{width:900px}
.w-1000{width:1000px}
.w-1100{width:1100px}
.w-1200{width:1200px}
.min-w-1200{min-width:1200px;}
.min-w-980{min-width:980px;}
.max-h-400{max-width:400px}



.wp-10{width:10%}
.wp-11{width:11%}
.wp-20{width:20%}
.wp-30{width:30%}
.wp-40{width:40%}
.wp-45{width:46%}
.wp-50{width:50%}
.wp-60{width:60%}
.wp-66{width:66%}
.wp-70{width:70%}
.wp-80{width:80%}
.wp-90{width:90%}
.wp-100{width:100%}
.wp-121{width:121%}

/*�߶�*/
.h-20{height:25px}
.h-30{height:30px}
.h-40{height:40px}
.h-50{height:50px}
.h-92{height:92px}
.hp-100{height:100%}

.whp-100{
  width: 100%;
  height: 100%;
}

/*line-height*/
.lh-15{line-height:15px}
.lh-20{line-height:20px}
.lh-25{line-height:25px}
.lh-30{line-height:30px}
.lh-35{line-height:35px}
.lh-36{line-height:36px}
.lh-40{line-height:40px}

/*margin*/
.mg0{margin:0}
.mgauto{margin:0 auto}
.mt-3{margin-top:3px}
.mt-5{margin-top:5px}
.mt-8{margin-top:8px}
.mt-10{margin-top:10px}
.mt-15{margin-top:15px}
.mt-24{margin-top:24px}
.mt-29{margin-top:29px}
.mt-20{margin-top:20px}
.mt-23{margin-top:23px}
.mt-40{margin-top:40px}
.mt-50{margin-top:50px}
.mt-34{margin-top:34px}
.mt-70{margin-top:70px}
.mt-77{margin-top:77px}
.mt-66{margin-top:66px}
.mt-68{margin-top:68px}
.mt-89{margin-top:89px}
.mt-90{margin-top:90px}
.mt-110{margin-top:110px}
.mt-118{margin-top:118px}

.mr-5{margin-right:5px}
.mr-10{margin-right:10px}
.mr-15{margin-right:15px}
.mr-20{margin-right:20px}
.mr-40{margin-right:40px}
.mr-45{margin-right:45px}
.mr-50{margin-right:50px}


.mb-0{margin-bottom:0}


.mb-5{margin-bottom:5px}
.mb-10{margin-bottom:10px}
.mb-15{margin-bottom:15px}
.mb-20{margin-bottom:20px}

.ml-0{margin-left: 0!important;}
.ml-5{margin-left:5px}
.ml-7{margin-left:7px}
.ml-f8{margin-left:-8px}
.ml-f1{margin-left:-1px}
.ml-f1-1{margin-left:1px}
.ml-10{margin-left:10px}
.ml-15{margin-left:15px}
.ml-18{margin-left:18px}
.ml-20{margin-left:20px}
.ml-23{margin-left:23px}
.ml-29{margin-left:29px}
.ml-30{margin-left:30px}
.ml-31{margin-left:31px}
.ml-35{margin-left:35px}
.ml-40{margin-left:40px}
.ml-45{margin-left:45px}

/*padding*/
.pi0{padding:0}
.pi20{padding:20px}
.pl-0{padding-left:0px}
.pl-5{padding-left:5px}
.pl-10{padding-left:10px}
.pl-15{padding-left:15px}
.pl-20{padding-left:20px}
.pl-25{padding-left:25px}
.pl-30{padding-left:30px}
.pl-35{padding-left:35px}
.pl-45{padding-left:45px}

.pr-0{padding-right:0}
.pr-5{padding-right:5px}
.pr-10{padding-right:10px}
.pr-15{padding-right:15px}
.pr-18{padding-right:18px}
.pr-20{padding-right:20px}
.pr-25{padding-right:25px}
.pr-30{padding-right:30px}
.pr-35{padding-right:35px}

.pt-0{padding-top:0px}
.pt-5{padding-top:5px}
.pt-8{padding-top:8px}
.pt-9{padding-top:9px}
.pt-10{padding-top:10px}
.pt-15{padding-top:15px}
.pt-20{padding-top:20px}
.pt-25{padding-top:25px}
.pt-30{padding-top:30px}

.pb-5{padding-bottom:5px}
.pb-10{padding-bottom:10px}
.pb-15{padding-bottom:15px}
.pb-20{padding-bottom:20px}
.pb-25{padding-bottom:25px}
.pb-30{padding-bottom:30px}

/*font-size*/
.f-s-12{font-size:12px}
.f-s-13{font-size:13px}
.f-s-14{font-size:14px}

.f-s-15{font-size:15px}
.f-s-18{font-size:18px}
.f-w-b{font-weight:bold}

/*color*/
.color242b3b{color:#242b3b}
.color666666{color:#666666}
.color494949{color:#494949}
.color484848{color:#484848}
.colorcc3333{color:#cc3333}
.color737373{color:#737373}
.color898989{color:#898989}
.color959595{color:#959595}
.color000{color:#000}
.colorff2a00{color:#ff2a00}
.color4688f1{color:#4688f1}
.colorae0000{color:#ae0000}
.color333333{color:#333}
.coloraaa{color:#aaaaaa}
.color555{color:#555555}
.colorfff{color:#fff}
.color999{color:#999999}
.color0066cc{color: #0066cc}
.color00c9c7{color:#00c9c7}
.color5a81ff{color:#5a81ff}
.color3db353{color:#3db353}
.colorda402d{color:#da402d}
.color5aa4ff{color:#5aa4ff}
.color5a81ff{color:#5a81ff}
.color50c14e{color:#50c14e}
.colora0a0a0{color:#a0a0a0}
.colorf8f9fd{color:#f8f9fd}
.color384463{color:#384463}
.color777{color:#777777}
.colora8a9ab{color:#a8a9ab}
.coloref5322{color:#ef5322}
.colorccc{color:#ccc}
.colorababab{color:#ababab}
.color1263C2{color:#1263C2}
.red{color:#ef2d36}
.green{color:#85ce3f}
.grey{color:#999}
.orange{color: #FCA454}
.blue{color: #0099ff}
.color8E8E8E{color: #8E8E8E}


/*background-color*/
.bgf8f9fd{background:#f8f9fd}
.bgf5f6fa{background:#f5f6fa}
.bgfff{background:#fff}
.bgf8f8f8{background:#f8f8f8}
.bgf8f8f9{background:#f8f8f9}
.bga8a9ad{background:#a8a9ad}
.bgf2f2f4{background:#f2f2f4}
.bgccc{background:#ccc}
.bgd9e9ba{background:#d9e9ba}
.bgcffffff{background-color:#ffffff}
.bgcf0f0f0{background-color:#f0f0f0}
.bgce3e3e3{background-color:#e3e3e3}
.bgc69d42a{background-color:#69d42a}
.bgctransparent{background-color:transparent}

/*text-indent*/
.ti-10{text-indent:10px}
.ti-20{text-indent:20px}

/*text-align*/
.t-a-l{text-align:left}
.t-a-r{text-align:right!important}
.t-a-c{text-align:center}

/*float*/
.fl{float:left}
.fr{float:right}
.f-no{
    float: none
}

/*display*/
.d-ib{display:inline-block}
.d-b{display:block}
.d-n{display:none}
.d-il{display:inline}

/*text-decoration*/
.td-und{text-decoration:underline}
.td-none{text-decoration:none}

/*position*/
.po-ab{position:absolute}
.po-re{position:relative}

/*z-index*/
.z-i--1{z-index: -1}
.z-i-0{z-index: 0}
.z-i-1{z-index: 1}
.z-i-2{z-index: 2}
.z-i-3{z-index: 3}
.z-i-4{z-index: 4}
.z-i-5{z-index: 5}
.z-i-6{z-index: 6}
.z-i-99{z-index: 99}
.z-i-100{z-index: 100}
.z-i-101{z-index: 101}
.z-i-200{z-index:200}
.z-i-1000{z-index:1000}

/*clear*/
.c-both{clear:both}
.c-l{clear:left}
.c-r{clear:right}

/*overflow*/
.ov-hi{overflow:hidden}
.ov-au{overflow:auto}

/*vertical-align*/
.v-a-t{vertical-align:top}
.v-a-m{vertical-align:middle}
.v-a-b{vertical-align:bottom}
.v-a-s{vertical-align:super}

/*border-radius*/
.b-r-l-4{border-radius:4px 0px 0px 4px}
.b-r-r-4{border-radius:0px 4px 4px 0px}
.b-r-4{border-radius:4px}

/*opacity*/
.opacity10{
    filter: alpha(opacity=10);
    -moz-opacity:0.1;
    opacity:0.1;
}
.opacity20{
    filter: alpha(opacity=20);
    -moz-opacity:0.2;
    opacity:0.2;
}
.opacity30{
    filter: alpha(opacity=30);
    -moz-opacity:0.3;
    opacity:0.3;
}
.opacity40{
    filter: alpha(opacity=40);
    -moz-opacity:0.4;
    opacity:0.4;
}
.opacity50{
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
}
.opacity60{
    filter: alpha(opacity=60);
    -moz-opacity:0.6;
    opacity:0.6;
}
.opacity70{
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}
.opacity80{
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    opacity:0.8;
}
.opacity90{
    filter: alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
}

.ws-nowrap{white-space:nowrap}
.text-dot{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.text-break{word-wrap:break-word;word-break:break-all;}
.cur-po{cursor:pointer}
.ls-none{list-style:none}
.ol-none{outline:none}

.clearfix{clear: both;}
.top-12{
    top:12px
}
.left-374{
    left: 374px;
}
.left-257{
    left: 257px;
}

.cle:after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
